
h1 { 
  background-image:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("https://i.pinimg.com/736x/4b/6f/0c/4b6f0c8ea4baf56bcbd05904ba619a6d.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
margin-top: 5px;
  height: 55vh;
  font-family: "Jersey 10", sans-serif;
  font-size: 5rem;
  letter-spacing: 2px;
  text-align: center; 

color:blueviolet;
}

body {
font-family: "arial", sans-serif;
background: rgba(100, 24, 126, 0.514);

    background-color: rgb(70, 39, 92);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.info-section {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
img {
 max-width: 45%;
}
.side-image {
  width: 45%;
  height: auto;
  max-width: 45%;
  display: block;
}
.text-box{
  color: rgb(231, 204, 242);
 flex: 1;
}
.text-box p {
 margin-top: 0; 
}
.navbar {
  margin-top: -60px;
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(21, 2, 30, 0.744);
  backdrop-filter: blur(10px);

  padding: 15px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color:rgb(156, 33, 94);
}

.submenu {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  background: rgba(14, 1, 23, 0.777);
  padding: 10px;
  list-style: none;
  min-width: 180px;
}
.dropdown {
  position: relative;
}
.dropdown:hover .submenu {
  display: block;
}


p {
font-family: "arial", sans-serif;
    font-size: 1.5rem;
    color:rgb(231, 204, 242); 
    text-align: center;
    margin-top: 50px;
}
* {
  box-sizing: border-box;
}
.footer {
  text-align: center;
  padding: 20px;
  background: rgba(21, 2, 30, 0.744);
  color: rgb(231, 204, 242);
  margin-top: 150px;
  width: 100%;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: rgb(231, 204, 242);
  margin-bottom: 10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  }
  form button{
    background: transparent;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px;
    background: rgb(156, 33, 94);
    color: white;
    cursor: pointer;
    padding: 10px 30px;
  }
  .socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.socials a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}

.socials a:hover {
  color: rgb(156, 33, 94);
  transform: scale(1.2);
}